*~
*.bak
*.pyc
*.bag
.DS_Store
cache*
mapping/maps/map.yaml
www/viewer/img/lastimage.jpg
camera/config/*
docker-compose.yml

docker/web/app/vendor/autoload.php
docker/web/app/vendor/composer/InstalledVersions.php
docker/web/app/vendor/composer/autoload_classmap.php
docker/web/app/vendor/composer/autoload_files.php
docker/web/app/vendor/composer/autoload_namespaces.php
docker/web/app/vendor/composer/autoload_psr4.php
docker/web/app/vendor/composer/autoload_real.php
docker/web/app/vendor/composer/autoload_static.php
docker/web/app/vendor/composer/installed.php



script/secrets.json
