:root {
  --face-color: whitesmoke;
  --face-height: 100vh;
  --face-width: 100vw;
  --eye-size: 16.00vmin;
  --bulb-size: 33.33vmin;
  --bulb-color: black;
  --eye-color: white;
  --eyelid-color: whitesmoke;
  --mouth-color:black;
  --mouth-width: 20vw;
  --mouth-height: 10vh;
  --nose-color:black;
  --nose-width: 15vw;
  --nose-height: 15vh;
}

body {
  background-color: white;
  margin: 0px;
}

.buttons {
  position: relative;
  z-index: 3;
}

.face {
  background-color: var(--face-color);
  margin: auto;
  height: var(--face-height);
  width: var(--face-width);
  position: relative;
  overflow: hidden;
}

.face div {
  position: absolute;
}

.eyebrow {
  
  height:  10vmin;
  width:  50vmin;
}

.eyebrow.left {
  left: 5%;
   
}
.eyebrow.right {
  right: 5%;
   
}
.bulb {
  #background-color: black;
  #border-radius: 100%;
  height:  calc(var(--bulb-size)*1.2);
  width:  var(--bulb-size));
  top: 18%;
}

.bulb.left {
  left: 10%;
  width: calc(var(--bulb-size)*1.5);
}
.bulb.right {
  right: 10%;
  width: calc(var(--bulb-size)*1.5);
}
.eye {
  background-color: var(--eye-color);
  border-radius: 100%;
  height: var(--eye-size);
  width: var(--eye-size);
  top: calc(var(--bulb-size) / 3);
  z-index: 1;
  transform: rotateX(0);
}

.eye.left {
  left: 20%;
  visibility: hidden;
}

.eye.right {
  right: 35%;
  visibility: hidden;
}

.eyelid {
  #background-color: var(--eyelid-color);
  height: var(--eye-size);
  width: calc(var(--eye-size) * 1.75);
  z-index: 2;
  transform: rotate(0deg);
}

.eyelid.upper {
  bottom: calc(var(--eye-size) * 1);
  left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
  border-radius: 100%;
  bottom: calc(var(--eye-size) * -1);
  left: calc(var(--eye-size) * -0.375);
}

 
.mouth {
  height: var(--mouth-height);
  width:  var(--mouth-width);
  border-radius: 50%;
  z-index: 4;
  bottom:calc(var(--face-height)/ 5 );
  left: calc(var(--face-width) / 2 - var(--mouth-width) / 1.3 );
  transform: rotateX(0);
}



.nose {
  height: var(--nose-height);
  width:  var(--nose-width);
  bottom: calc(var(--face-height) / 2.5);
  left: calc(var(--face-width) / 2 - var(--nose-width) /2);
  z-index: 4;
}
