<launch>
  <!-- Launching USB CAM launch -->
  <include file="$(env MARRTINO_SOCIAL)/launch/webcam.launch"/> 
  <!-- tmux.cmd(0,"echo '@usbcam' | netcat -w 1 localhost 9237")  -->
  
   <!-- Start ROS Bridge Server  -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
 
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" respawn="false" output="screen">
    <param name="port" value="29090" />
  </node>  

  <!-- Speech -->
  
  <include file="$(find speech)/launch/speech.launch"/>
  <include file="$(find talk)/launch/talk.launch"/> 
 </launch>
