:root {
  --face-color: whitesmoke;
  --face-height: 100vh;
  --face-width: 100vw;
  --eye-size: 25.00vmin;
  --bulb-size: 33.33vmin;
  --eye-color: black;
  --eyelid-color: whitesmoke;
  --mouth-color:black;
  --mouth-width: 20vw;
  --mouth-height: 10vh;
  --nose-color:black;
  --nose-width: 5vw;
  --nose-height: 5vh;
}

body {
  background-color: white;
  margin: 0px;
}

.buttons {
  position: relative;
  z-index: 3;
}

.face {
  background-color: var(--face-color);
  margin: auto;
  height: var(--face-height);
  width: var(--face-width);
  position: relative;
  overflow: hidden;
}

.face div {
  position: absolute;
}

.bulb {
  border-radius: 100%;
  height:  var(--bulb-size);
  width:  var(--bulb-size));
 
}

.bulb.left {
  left: 10%;
  width: calc(var(--bulb-size)*2);
}
.bulb.right {
  right: 0%;
  width: calc(var(--bulb-size)*2);
}
.eye {
  #background-color: var(--eye-color);
  border-radius: 100%;
  height: var(--eye-size);
  width: var(--eye-size);
  top: calc(var(--bulb-size) / 3);
  z-index: 1;
  transform: rotateX(0);
}

.eye.left {
  left: 20%;
}

.eye.right {
  right: 45%;
}

.eyelid {
  #background-color: var(--eyelid-color);
  height: var(--eye-size);
  width: calc(var(--eye-size) * 1.75);
  z-index: 2;
  transform: rotate(0deg);
}

.eyelid.upper {
  bottom: calc(var(--eye-size) * 1);
  left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
  border-radius: 100%;
  bottom: calc(var(--eye-size) * -1);
  left: calc(var(--eye-size) * -0.375);
}


.mouth {
  height: var(--mouth-height);
  width:  var(--mouth-width);
  background-color:green;
  border-radius: 50%;
  z-index: 4;
  bottom:calc(var(--face-height)/3 );
  left: calc(var(--face-width) / 2 - var(--mouth-width) /2 );
  transform: rotateX(0);
}
.mouthlid {
  background-color: var(--eyelid-color);
  height: var(--mouth-height);
  width:  var(--mouth-width);
  z-index: 2;
  transform: rotate(0deg);
}


.mouthlid.upper {
  bottom: calc(var(--mouth-size) * 1);
  left: calc(var(--mouth-size) * -0.375);
  background-color:yellow;
  z-index: 5;
}

.mouthlid.lower {
  border-radius: 100%;
  bottom: calc(var(--mouth-size) * -1);
  left: calc(var(--mouth-size) * -0.375);
  background-color:red;
  z-index: 6;
}


.nose {
  height: var(--nose-height);
  width:  var(--nose-width);
  background-color:red;
  border-radius: 50%;
  bottom: calc(var(--face-height) / 2);
  left: calc(var(--face-width) / 2 - var(--nose-width) /2);
  z-index: 4;
}
